
test1/.idea/workspace.xml
test1/.idea/workspace.xml
test1/.idea/workspace.xml
test1/.idea/workspace.xml
blog/vendor
blog/node_modules
portia_shop/portia/.idea/codeStyles/codeStyleConfig.xml
portia_shop/portia/.idea/commandlinetools/Laravel_2020_11_16_6_06.xml
portia_shop/portia/.idea/commandlinetools/schemas/frameworkDescriptionVersion1.1.4.xsd
portia_shop/portia/.idea/modules.xml
portia_shop/portia/.idea/php-test-framework.xml
portia_shop/portia/.idea/php.xml
portia_shop/portia/.idea/phpunit.xml
portia_shop/portia/.idea/portia.iml
portia_shop/portia/.idea/vcs.xml
portia_shop/portia/.idea/workspace.xml
